<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cbase.smartahoy"
    android:versionCode="42"
    android:versionName="4.2">

    <uses-permission android:name="com.sonyericsson.extras.liveware.aef.EXTENSION_PERMISSION"></uses-permission>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:label="SmartAhoy!"
        android:allowBackup="true">

        <activity android:name=".AboutDialog"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".SmartAhoyPreferenceActivity"
                  android:icon="@drawable/ic_launcher"
                  android:exported="true"/>

        <service android:name=".SmartAhoyExtensionService" />

        <receiver android:name=".ExtensionReceiver">
            <intent-filter>
                <!-- Generic extension intents. -->
                <action android:name="com.sonyericsson.extras.liveware.aef.registration.EXTENSION_REGISTER_REQUEST" />
                <action android:name="com.sonyericsson.extras.liveware.aef.registration.ACCESSORY_CONNECTION" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />

                <!-- Notification intents -->
                <action android:name="com.sonyericsson.extras.liveware.aef.notification.VIEW_EVENT_DETAIL" />
                <action android:name="com.sonyericsson.extras.liveware.aef.notification.REFRESH_REQUEST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
